.oyk-blog {
  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &-content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      &-header {
       &-date {
        font-size: 0.8rem;
        line-height: 1.2;
        opacity: 0.7;
        padding: 0 0 4px;
       }

       &-title {
        font-family: "Quicksand", sans-serif;
        font-size: 1.2rem;
        line-height: 1.2;
       }
      }

      &-preview {
        font-size: 0.9rem;
        line-height: 1.5;
        opacity: 0.9;
        padding: 16px 0 0;
      }
    }

    &-wrapper {
      background-color: color-mix(in srgb, var(--oyk-card-subtle-bg) 25%, var(--oyk-card-bg));
      border-radius: var(--oyk-radius);
      flex: 1 1 auto;
      width: calc(100% - 32px);
      position: relative;
      padding: 8px;
      margin: 0 16px 8px;
    }

    &-footer {
      font-size: 0.75rem;
      line-height: 1;
      display: flex;
      flex: 0 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      width: 100%;
      opacity: 0.7;
      padding: 4px 24px 12px;
    }
  }

  &-post {
    &-content {
      font-size: 1.1rem;
      line-height: 1.5;
      text-align: justify;
      max-width: 800px;
      padding: 64px 0;
      margin: 0 auto;
    }
  }

  &-reactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin: 16px 0 32px;
  }

  &-comments {
    margin: 32px 0 0;

    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 16px;

      &-footer {
        border-top: 1px solid var(--oyk-card-divider);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 16px 16px 0;
      }
    }

    &-card {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
      position: relative;
      margin: 0;

      &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        margin: 0;
      }

      &-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        padding: 8px 0 0;

        &-info {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;

          &-name {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.2;
            padding: 0;
            margin: 0;
          }

          &-date {
            font-size: 0.9rem;
            line-height: 1.2;
            position: relative;
            opacity: 0.6;
            padding: 0 0 0 16px; 

            &::before {
              content: "";
              background-color: var(--oyk-card-fg);
              border-radius: 50%;
              width: 4px;
              height: 4px;
              position: absolute;
              left: 2px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      &-content {
        font-size: 0.94rem;
        line-height: 1.2;
        white-space: pre-line;
        opacity: 0.9;
        padding: 12px 0;
      }

      &-footer {
        &-actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 32px;

          .oyk-button {
            opacity: 0.6;
            padding: 4px 0;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      &-reply {
        width: 100%;
        padding: 12px 40px;
      }

      &-replies {
        width: 100%;
        padding: 12px 40px;
      }

      &.oyk-replied::before {
        content: "";
        border-left: 2px dashed var(--oyk-card-divider);
        position: absolute;
        top: 0;
        left: 17px;
        bottom: 0;
      }
    }
  }
}
