* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  &:not(:disabled) {
    cursor: pointer;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  padding: 0;
  margin: 0;

  th, td {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

textarea {
  resize: vertical;
}

code {
  background-color: var(--oyk-card-bg);
  border-radius: var(--oyk-radius);
  color: var(--oyk-card-fg);
  font-family: "Google Sans Code", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  white-space: pre-wrap;
  padding: 16px;

  &.full {
    display: block;
    width: 100%;
  }

  &.small {
    font-size: 0.8rem;
    display: inline-block;
    padding: 4px 8px;
  }
}
