:root {
  --oyk-default-primary: #3da5cb;
  --oyk-default-primary-fg: #ffffff;

  --oyk-core-bg: #1c1e25;
  --oyk-core-fg: #838489;
  --oyk-core-bg-img: none;
  --oyk-core-divider: #24272e;

  --oyk-c-primary: var(--oyk-default-primary);
  --oyk-c-primary-fg: var(--oyk-default-primary-fg);

  --oyk-c-danger: #e25353;
  --oyk-c-warning: #dea125;
  --oyk-c-success: #129929;

  --oyk-core-topbar-bg: #0E0F12;
  --oyk-core-topbar-fg: #838489;
  --oyk-core-topbar-subtle-bg: #151619;
  --oyk-core-topbar-subtle-fg: #a6a9b5;
  --oyk-core-topbar-height: 48px;

  --oyk-core-navbar-bg: #0E0F12;
  --oyk-core-navbar-fg: #838489;
  --oyk-core-navbar-subtle-bg: #17181d;
  --oyk-core-navbar-subtle-fg: #838489;
  --oyk-core-navbar-width: 48px;
  --oyk-core-navbar-width-open: 220px;

  --oyk-core-gamebar-bg: #0E0F12;
  --oyk-core-gamebar-fg: #838489;
  --oyk-core-gamebar-subtle-bg: #17181d;
  --oyk-core-gamebar-subtle-fg: #838489;
  --oyk-core-gamebar-width: 48px;
  --oyk-core-gamebar-width-open: 220px;

  --oyk-popper-bg: #0E0F12;
  --oyk-popper-fg: #aeafb7;
  --oyk-popper-subtle-bg: #14161a;
  --oyk-popper-subtle-fg: #a9acb6;

  --oyk-card-bg: #121317;
  --oyk-card-fg: #aeafb7;
  --oyk-card-subtle-bg: #2c2f38;
  --oyk-card-subtle-fg: #aeafb7;
  --oyk-card-item-bg: #16171b;
  --oyk-card-item-fg: #aeafb7;
  --oyk-card-divider: #1b1c20;

  --oyk-scrollbar: #51535b;

  --oyk-radius: 6px;
}
