TZ=UTC

# --- PostgreSQL ---
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=db_name

# --- PgBouncer ---
DB_HOST=db
DB_PORT=5432
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=db_name

# --- Traefik ---
TRAEFIK_ACME_EMAIL=admin@oykus.ovh

# --- Backend ---
DATABASE_HOST=bouncer
DATABASE_PORT=6432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DB_NAME}
JWT_SECRET=secret-to-change

# --- Frontend ---
VITE_DOMAIN=localhost:8000
VITE_PROTOCOL=http
VITE_API=localhost:8000/api
VITE_WATCH_USE_POLLING=false