services:
  db:
    image: mysql:8.4
    container_name: oykus-db
    restart: unless-stopped
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    environment:
      TZ: ${TZ}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 30s

  backend:
    build: ./backend
    container_name: oykus-backend
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:80"
    volumes:
      - ./backend:/app
    environment:
      TZ: ${TZ}
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}

  frontend:
    build: ./frontend
    container_name: oykus-frontend
    command: sh -c "npm run dev"
    depends_on:
      - db
      - backend
    ports:
      - "8000:8000"
    volumes:
      - /app/node_modules
      - ./frontend:/app
    environment:
      TZ: ${TZ}
      VITE_API_URL: ${VITE_API_URL}
      VITE_WATCH_USE_POLLING: ${VITE_WATCH_USE_POLLING}

volumes:
  db_data: 