.oyk-alert {
  background-color: color-mix(in srgb, var(--oyk-core-fg) 10%, transparent);
  border: 1px solid color-mix(in srgb, var(--oyk-core-fg) 10%, transparent);
  border-radius: var(--oyk-radius);
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 16px;

  &-variant-default {
    background-color: color-mix(in srgb, var(--oyk-core-fg) 10%, transparent);
    border-color: color-mix(in srgb, var(--oyk-core-fg) 20%, transparent);
    color: var(--oyk-core-fg);
  }

  &-variant-primary {
    background-color: color-mix(in srgb, var(--oyk-c-primary) 10%, transparent);
    border-color: color-mix(in srgb, var(--oyk-c-primary) 20%, transparent);
    color: var(--oyk-c-primary);
  }

  &-variant-danger {
    background-color: color-mix(in srgb, var(--oyk-c-danger) 10%, transparent);
    border-color: color-mix(in srgb, var(--oyk-c-danger) 20%, transparent);
    color: var(--oyk-c-danger);
  }

  &-variant-warning {
    background-color: color-mix(in srgb, var(--oyk-c-warning) 10%, transparent);
    border-color: color-mix(in srgb, var(--oyk-c-warning) 20%, transparent);
    color: var(--oyk-c-warning);
  }

  &-variant-success {
    background-color: color-mix(in srgb, var(--oyk-c-success) 10%, transparent);
    border-color: color-mix(in srgb, var(--oyk-c-success) 20%, transparent);
    color: var(--oyk-c-success);
  }

  &-icon {
    font-size: 0;
    line-height: 0;
    height: auto;
    width: auto;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-title {
      font-size: 1.1rem;
      font-weight: 600;
    }

    &-message {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  &.oyk-small {
    padding: 8px;

    .oyk-alert-content {
      &-title {
        font-size: 1rem;
      }

      &-message {
        font-size: 0.86rem;
      }
    }
  }
}