.oyk-avatar {
  width: 64px;
  height: 64px;
  position: relative;

  &-content {
    background-color: var(--oyk-c-primary);
    border: 2px solid var(--oyk-card-bg);
    border-radius: 50%;
    box-sizing: content-box;
    color: var(--oyk-c-primary-fg);
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: width 0.3s, height 0.3s;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-abbr {
    font-family: "Quicksand", sans-serif;
    font-size: 8px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-level {
    background-color: var(--oyk-c-primary);
    border: 2px solid var(--oyk-card-bg);
    border-radius: 999px;
    color: var(--oyk-c-primary-fg);
    font-size: 12px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 24px;
    position: absolute;
    right: -2px;
    bottom: -2px;
    padding: 4px;
  }
}