.oyk-grid {
  width: 100%;
  max-width: 1200px;
  padding: 0 32px;
  margin: 32px auto;

  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &-nav {
      background-color: var(--oyk-card-bg);
      border-radius: var(--oyk-radius);
      color: var(--oyk-card-fg);
      flex: 0 0 256px;
      padding-right: 8px;

      &.oyk-transparent {
        background-color: transparent;
        color: var(--oyk-core-fg);
      }
    }

    &-main {
      flex: 1 1 100%;
      padding-left: 8px;
    }

    @media (max-width: 1023px) {
      flex-wrap: wrap;

      &-nav {
        flex: 1 1 100%;
        padding-right: 0;
        padding-bottom: 8px;
      }

      &-main {
        flex: 1 1 100%;
        padding-top: 8px;
        padding-left: 0;
      }
    }
  }
}