.oyk-grid {
  width: 100%;
  max-width: 1200px;
  padding: 0 32px;
  margin: 32px auto;

  @media (max-width: 1023px) {
    padding: 0 16px;
  }

  @media (max-width: 767px) {
    padding: 0 8px;
  }

  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    width: calc(100% + 16px);
    margin: -8px;

    &-wrap {
      flex-wrap: wrap;
    }

    &-nav {
      flex: 0 0 256px;
      padding: 8px;
    }

    &-main {
      flex: 1 1 100%;
      padding: 8px;
    }

    @media (max-width: 1023px) {
      flex-wrap: wrap;

      &-nav {
        flex: 1 1 100%;
      }

      &-main {
        flex: 1 1 100%;
      }
    }
  }

  &-col {
    flex: 0 1 0;
    padding: 8px;

    &.oyk-grow {
      flex-grow: 1;
    }

    &.oyk-col {
      &-100 {
        flex-basis: 100%;
      }

      &-50 {
        flex-basis: 50%;
      }

      &-33 {
        flex-basis: 33%;
      }

      &-25 {
        flex-basis: 25%;
      }

      &-md {
        &-100 {
          @media (max-width: 1023px) {
            flex-basis: 100%;
          }
        }

        &-50 {
          @media (max-width: 1023px) {
            flex-basis: 50%;
          }
        }

        &-33 {
          @media (max-width: 1023px) {
            flex-basis: 33%;
          }
        }

        &-25 {
          @media (max-width: 1023px) {
            flex-basis: 25%;
          }
        }
      }

      &-sm {
        &-100 {
          @media (max-width: 767px) {
            flex-basis: 100%;
          }
        }

        &-50 {
          @media (max-width: 767px) {
            flex-basis: 50%;
          }
        }

        &-33 {
          @media (max-width: 767px) {
            flex-basis: 33%;
          }
        }

        &-25 {
          @media (max-width: 767px) {
            flex-basis: 25%;
          }
        }
      }
    }
  }
}
