.oyk-grid {
  width: 100%;
  max-width: 1200px;
  padding: 0 32px;
  margin: 32px auto;

  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;

    &-nav {
      flex: 0 0 256px;
    }

    &-main {
      flex: 1 1 100%;
    }

    @media (max-width: 1023px) {
      flex-wrap: wrap;

      &-nav {
        flex: 1 1 100%;
      }

      &-main {
        flex: 1 1 100%;
      }
    }
  }
}