.oyk-link {
  transition: color 0.3s, opacity 0.3s;

  &.oyk-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }

  &.oyk-block {
    display: block;
  }

  &-hover {
    &-primary {
      &:hover {
        color: var(--oyk-c-primary);
      }
    }

    &-opacity-6 {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
