.oyk-progress {
  display: block;
  width: 100%;
  padding: 6px;

  &-track {
    background-color: var(--oyk-card-subtle-bg);
    border: 3px solid var(--oyk-card-subtle-bg);
    border-radius: 6px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 12px;
  }

  &-thumb {
    background-color: var(--oyk-card-subtle-fg);
    font-size: 0;
    line-height: 0;
    display: block;
    width: 22%;
    height: 100%;
    opacity: 0.7;
  }
}
