.oyk-avatar {
  background-color: var(--oyk-c-primary);
  border: 2px solid var(--oyk-card-bg);
  border-radius: 50%;
  box-sizing: content-box;
  color: var(--oyk-c-primary-fg);
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: width 0.3s, height 0.3s;

  &-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-abbr {
    font-family: "Quicksand", sans-serif;
    font-size: 8px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}