.oyk-breadcrumbs {
  font-size: 0.9rem;
  line-height: 1;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;

  &-list {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    opacity: 0.6;
    padding: 0;
    margin: 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      padding: 0;
      margin: 0;
    }
  }
}
