.oyk-chip {
  background-color: color-mix(in srgb, var(--oyk-core-fg) 10%, transparent);
  border-radius: 4px;
  font-size: 11px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  padding: 4px 7px;

  &-outline {
    background-color: transparent !important;
    border: 1px solid color-mix(in srgb, var(--oyk-core-fg) 10%, transparent);
    padding: 3px 6px;

    .oyk-chip-content {
      // filter: brightness(1);
    }
  }

  &-content {
    color: var(--oyk-core-fg);
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    // filter: brightness(1.8);
  }

  &.oyk-chip-default {
    background-color: color-mix(in srgb, var(--oyk-core-fg) 20%, transparent);
    border-color: color-mix(in srgb, var(--oyk-core-fg) 30%, transparent);

    .oyk-chip-content {
      color: var(--oyk-core-fg);
    }
  }

  &.oyk-chip-primary {
    background-color: color-mix(in srgb, var(--oyk-c-primary) 20%, transparent);
    border-color: color-mix(in srgb, var(--oyk-c-primary) 50%, transparent);

    .oyk-chip-content {
      color: var(--oyk-c-primary);
    }
  }

  &.oyk-chip-danger {
    background-color: color-mix(in srgb, var(--oyk-c-danger) 20%, transparent);
    border-color: color-mix(in srgb, var(--oyk-c-danger) 50%, transparent);

    .oyk-chip-content {
      color: var(--oyk-c-danger);
    }
  }

  &.oyk-chip-warning {
    background-color: color-mix(in srgb, var(--oyk-c-warning) 20%, transparent);
    border-color: color-mix(in srgb, var(--oyk-c-warning) 50%, transparent);

    .oyk-chip-content {
      color: var(--oyk-c-warning);
    }
  }

  &.oyk-chip-success {
    background-color: color-mix(in srgb, var(--oyk-c-success) 20%, transparent);
    border-color: color-mix(in srgb, var(--oyk-c-success) 50%, transparent);

    .oyk-chip-content {
      color: var(--oyk-c-success);
    }
  }
}