.oyk-userprofile {
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 0 32px;

    &-identity {
      text-align: center;
      max-width: 400px;
      min-width: 300px;
      flex: 1 1 auto;
      order: 2;
      padding: 8px;

      &-name {
        font-family: "Quicksand", sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 2px;
        margin: 8px 0 0;
      }

      &-title {
        font-size: 0.9rem;
        opacity: 0.75;
      }

      @media (max-width: 1023px) {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        order: 1;
      }
    }

    &-stats {
      text-align: center;
      flex: 1 1 50%;
      order: 1;
      padding: 0 8px 8px;
      margin-left: 16px;

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 16px;

        li {
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          align-items: center;
          gap: 4px;

          span:first-child {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2;
          }

          span:last-child {
            font-size: 0.6rem;
            font-weight: 400;
            line-height: 1.2;
            text-transform: uppercase;
            opacity: 0.6;
          }
        }
      }

      @media (max-width: 1023px) {
        flex: 1 1 100%;
        width: 100%;
        order: 2;
        margin-left: 0;
      }
    }

    &-social {
      text-align: center;
      display: flex;
      flex: 1 1 50%;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 16px;
      order: 3;
      padding: 0 8px 8px;
      margin-right: 16px;

      &-actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }

      &-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }

      @media (max-width: 1023px) {
        flex: 1 1 100%;
        width: 100%;
        order: 3;
        margin-right: 0;
      }
    }

    &-error {
      padding: 0 16px 16px;
    }

    @media (max-width: 1023px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-about {
    &-bio {
      white-space: pre-line;
    }
  }

  &-feed {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-post {
      &-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        margin: 0 0 16px;

        &-identity {
          flex: 1 1 auto;

          &-name {
            font-size: 0.9375rem;
            line-height: 1.2;
            margin: 0 0 4px;
          }

          &-date {
            font-size: 0.8125rem;
            line-height: 1.2;
            opacity: 0.6;

            &-edited {
              font-size: 0.8125rem;
              line-height: 1.2;
              position: relative;
              opacity: 0.6;
              padding: 0 0 0 28px; 

              &::before {
                content: "";
                background-color: var(--oyk-card-fg);
                border-radius: 50%;
                width: 4px;
                height: 4px;
                position: absolute;
                left: 12px;
                top: 0.55em;
              }
            }
          }
        }

        &-actions {
          //
        }
      }
    }

    &-loadmore {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .oyk-code {
      font-size: 1rem;
      line-height: 1.5;
      display: -webkit-box;
      line-clamp: 13;
      -webkit-line-clamp: 13;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 20rem;
    }
  }
}
