.oyk-privacy-policy {
  section {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      color: var(--oyk-card-fg);
      font-size: 1rem;
      line-height: 1.6;
      margin: 0 0 1rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      color: var(--oyk-card-fg);
      font-size: 1rem;
      line-height: 1.6;
      margin: 0 0 1rem 1.5rem;
      padding: 0;

      li {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        strong {
          font-weight: 600;
        }
      }
    }
  }
} 