.oyk-universes-admin {
  &-profile {
    &-visual {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
      padding-bottom: 16px;

      &-preview {
        flex: 1 0 400px;

        @media (max-width: 1380px) {
          flex: 1 0 100%;
        }
      }

      &-avatar {
        flex: 1 1 200px;
      }

      &-cover {
        flex: 1 1 200px;
      }

      &-avatar,
      &-cover {
        &-title {
          font-size: 0.9rem;
          line-height: 1.5;
          margin-top: 12px;
        }

        &-max {
          font-size: 0.7rem;
          line-height: 1.5;
          opacity: 0.6;
        }
      }
    }
  }

  &-modules {
    &-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;

      &-item {
        flex: 0 1 20%;
        min-width: 200px;

        @media (max-width: 1024px) {
          flex: 1 1 45%;
        }

        @media (max-width: 768px) {
          flex: 1 1 100%;
        }

        &-header {
          text-align: center;

          &-name {
            font-family: "Quicksand", sans-serif;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.2;
            padding: 8px 8px 4px;
          }

          &-description {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.2;
            opacity: 0.6;
            padding: 4px 8px 8px;
          }

          &-alert {
            padding: 4px 8px 8px;
          }
        }

        &-actions {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 8px;
          padding: 8px 8px 16px;
        }
      }
    }

    &-modal {
      &-text {
        text-align: center;
      }
    }
  }
}
