.oyk-userprofile {
  &-identity {
    text-align: center;
    padding: 12px 12px 24px;

    &-name {
      font-family: "Quicksand", sans-serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 2px;
    }

    &-title {
      font-size: 0.9rem;
      opacity: 0.75;
    }
  }
}
