.oyk-app-sidebar {
  background-color: var(--oyk-app-sidebar-bg, #0e120f);
  color: var(--oyk-app-sidebar-fg, #FFFFFF);
  flex: 0 1 var(--oyk-app-sidebar-width, 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: flex-basis 0.3s;

  &.open {
    flex-basis: var(--oyk-app-sidebar-width-open);

    .oyk-app-sidebar-header-button-brand {
      width: auto;
      opacity: 1;
      padding-left: 12px;
    }

    .oyk-app-sidebar-nav-item {
      &-link {
        gap: 8px;

        &:not(.disabled):active {
          transform: scale(0.98);
        }

        &-text {
          opacity: 1;
        }

        &-side-icon,
        &-side-chip {
          background-color: transparent;
          position: relative;
          right: auto;
          top: auto;
        }
      }
    }
  }

  &-header {
    background-color: var(--oyk-app-bar-bg);
    color: var(--oyk-app-bar-fg);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: var(--oyk-app-bar-height);

    .oyk-dropdown {
      flex: 1;
      padding: 8px;
    }

    &-button {
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      height: 100%;
      width: 100%;

      &-logo {
        background-color: var(--oyk-c-primary);
        border-radius: 4px;
        display: flex;
        flex: 0 0 32px;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
      }

      &-brand {
        font-family: "Quicksand", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
        width: 0;
        opacity: 0;
        padding-left: 0;
        transition: opacity 0.3s, width 0.3s, padding-left 0.3s;
      }

      &-dropdown-item {
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding: 8px;

        &:not(.disabled):hover {
          background-color: var(--oyk-app-sidebar-bg-subtle);
        }

        &:not(.disabled):active {
          opacity: 0.7;
        }

        &-logo {
          background-color: var(--oyk-c-primary);
          border-radius: 4px;
          display: flex;
          flex: 0 0 32px;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 32px;
        }

        &-brand {
          font-family: "Quicksand", sans-serif;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.2;
          text-align: left;
          flex: 1;
          width: auto;
          opacity: 1;
          padding-left: 12px;
          transition: opacity 0.3s, width 0.3s, padding-left 0.3s;
        }
      }
    }
  }

  &-user {
    text-align: center;

    &-identity {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 8px;
      transition: gap 0.3s, padding 0.3s;

      &.hidden {
        gap: 0;
        padding: 0;
      }

      &-name {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
        transition: font-size 0.3s, line-height 0.3s, opacity 0.3s;
      }

      &-title {
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.2;
        opacity: 0.7;
        transition: font-size 0.3s, line-height 0.3s, opacity 0.3s;
      }

      &.hidden {
        .oyk-app-sidebar-user-identity-name,
        .oyk-app-sidebar-user-identity-title {
          font-size: 0;
          line-height: 0;
          opacity: 0;
        }
      }
    }
  }

  &-menu {
    flex: 1;
    padding: 16px 0;
  }

  &-nav {
    &-list + &-list {
      border-top: 1px solid var(--oyk-app-sidebar-bg-subtle);
      margin-top: 16px;
      padding-top: 16px;
    }

    &-item {
      padding: 8px 8px;

      &-link {
        background-color: transparent;
        border-radius: var(--oyk-radius);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
        height: 100%;
        min-height: 32px;
        width: 100%;
        position: relative;
        padding: 4px 0;
        transition: background-color 0.3s, gap 0.3s;

        &:not(.disabled):hover {
          background-color: var(--oyk-app-sidebar-bg-subtle);
        }

        &:not(.disabled):active {
          opacity: 0.7;
          transform: scale(0.9);
        }

        &.disabled {
          opacity: 0.5;
          transform: none;
          cursor: default;
        }

        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 0 0 32px;
          height: 18px;
          width: 18px;
        }

        &-text {
          font-size: 1rem;
          line-height: 1;
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 0;
          min-height: 24px;
          opacity: 0;
          transition: opacity 0.3s, width 0.3s;
        }

        &-side-icon {
          background-color: var(--oyk-app-sidebar-bg);
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 0 0 32px;
          height: 16px;
          width: 16px;
          position: absolute;
          right: 0;
          top: 0;
        }

        &-side-chip {
          background-color: var(--oyk-app-sidebar-bg);
          line-height: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: calc(100% + 8px);
          position: absolute;
          right: -8px;
          top: 0;
          margin: 0 4px;
        }
      }
    }
  }

  &-footer {
    flex: 0;
    padding: 8px 0;
  }
}