.oyk-core-topbar {
  background-color: var(--oyk-core-topbar-bg, #0e120f);
  color: var(--oyk-core-topbar-fg, #FFFFFF);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  height: var(--oyk-core-topbar-height, 64px);
  padding: 0 8px 0 0;

  &-branding {
    background-color: var(--oyk-core-topbar-bg);
    color: var(--oyk-core-topbar-fg);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: var(--oyk-core-topbar-height);

    &.oyk-open .oyk-core-topbar-branding-button-brand {
      width: 172px;
      opacity: 1;
      padding-left: 12px;
    }

    .oyk-dropdown {
      flex: 1;
      padding: 8px;

      &-item {
        padding: 4px;
      }
    }

    &-button {
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      height: 100%;
      width: 100%;

      &-logo {
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex: 0 0 32px;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
      }

      &-brand {
        font-family: "Quicksand", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
        width: 0;
        opacity: 0;
        padding-left: 0;
        transition: opacity 0.3s, width 0.3s, padding-left 0.3s;
      }

      &-dropdown-item {
        border-radius: var(--oyk-radius);
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding: 4px;

        &:not(.disabled):hover {
          background-color: var(--oyk-popper-subtle-bg);
          color: var(--oyk-popper-subtle-fg);
        }

        &:not(.disabled):active {
          opacity: 0.7;
        }

        &-logo {
          border-radius: 4px;
          overflow: hidden;
          display: flex;
          flex: 0 0 32px;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 32px;
        }

        &-brand {
          font-family: "Quicksand", sans-serif;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.2;
          text-align: left;
          flex: 1;
          width: auto;
          opacity: 1;
          padding-left: 12px;
          transition: opacity 0.3s, width 0.3s, padding-left 0.3s;
        }
      }
    }
  }

  &-toggle {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    margin: 0 32px 0 8px;

    &-button {
      height: 32px;
      width: 32px;
      opacity: 0.7;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }

  &-space {
    flex: 1 1 100%;
  }

  &-menu {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 100%;
    margin: 0 32px 0 0;

    &-mobile {
      display: none;
      flex: 1;
      align-items: center;
      justify-content: flex-start;

      &-toggle {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 1023px) {
        display: flex;
      }
    }

    &-nav {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      height: 100%;

      &-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
        height: 100%;
      }

      &-item {
        display: flex;

        &-link {
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          gap: 4px;
          opacity: 0.8;
          transition: opacity 0.1s;

          &:hover {
            opacity: 1;
          }
        }
      }

      @media (max-width: 1023px) {
        display: none;
      }
    }
  }

  &-leveling {
    white-space: nowrap;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin: 0 32px 0 0;

    &-level {
      font-family: "Quicksand", sans-serif;
      font-size: 0.9rem;
      font-weight: 800;
      line-height: 1;
    }

    .oyk-progress {
      width: 200px;
    }
  }

  &-notifications {
    flex: 0 0 auto;
    height: var(--oyk-core-topbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0 32px;
    transition: gap 0.3s, margin 0.3s;

    @media (max-width: 765px) {
      gap: 0;
      margin: 0;
    }

    &-group {
      .oyk-button {
        opacity: 0.5;

        &:not(:disabled):hover {
          opacity: 1;
        }
      }
    }

    &-alert {
      border-bottom: 1px solid var(--oyk-core-topbar-subtle-bg);
      font-size: 0.9rem;
      line-height: 1.2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      min-width: 300px;
      padding: 0 0 16px;
      margin: 16px 0;

      &-icon {
        display: flex;
        flex: 0 0 64px;
        align-items: center;
        justify-content: center;
      }

      &-content {
        border-left: 1px solid var(--oyk-core-topbar-subtle-bg);
        padding: 8px 16px 8px 16px;
      }

      &-footer {
        text-align: center;
      }
    }
  }

  &-user {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    &-button {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      &-name {
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1;
        flex: 1;
        padding-right: 12px;

        @media (max-width: 1023px) {
          display: none;
        }
      }
    }
  }
}