.oyk-world {
  .oyk-world-header {
    text-align: center;

    &-title {
      font-family: "Quicksand", sans-serif;
      font-size: 4rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
  }
}
